:root {
  --speed: 2.5s;
  --speedbird: 2.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

.container {
  width: 1200px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.dino {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 1;
}

.dino img {
  height: 70px;
  width: 70px;
}

.animatedino {
  animation: dinoanimation 0.5s linear infinite;
}

@keyframes dinoanimation {
  0%,
  100% {
    bottom: 30px;
  }
  45%,
  55% {
    bottom: 220px;
  }
}

.block {
  height: 85px;
  width: 120px;
  position: absolute;
  bottom: 30px;
  right: -118px;
  z-index: 1;
}

.block img {
  height: 85px;
  width: 120px;
}

.animateblock {
  animation: blockanimation var(--speed) linear infinite;
}

@keyframes blockanimation {
  0% {
    right: -8%;
  }
  100% {
    right: 108%;
  }
}

.bird {
  height: 70px;
  width: 120px;
  position: absolute;
  bottom: 250px;
  right: -118px;
  z-index: 1;
}

.bird img {
  height: 70px;
  width: 100px;
}

.animatebird {
  animation: birdanimation var(--speedbird) linear infinite;
}

@keyframes birdanimation {
  0% {
    right: -8%;
  }
  100% {
    right: 108%;
  }
}

.road {
  position: absolute;
  bottom: 0%;
}

.road img {
  height: 30px;
  width: 3000px;
}

.animateroad {
  animation: roadanimation 3.5s linear infinite;
}

@keyframes roadanimation {
  0% {
    right: -1500px;
  }
  100% {
    right: 0px;
  }
}

.cloud {
  position: absolute;
  top: 20%;
}

.cloud img {
  height: 120px;
  width: 2500px;
}

.animatecloud {
  animation: cloudanimation 17s linear infinite;
}

@keyframes cloudanimation {
  0% {
    right: -2600px;
  }
  100% {
    right: 2000px;
  }
}

.score {
  height: 30px;
  width: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
}

.gameover {
  height: 110px;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  font-size: 5em;
}
